body {
    padding-top: 54px;
    overflow-x: hidden;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #card7 img {
    width: 50%;
  }
}


// Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {
  .collapse {
    display: flex !important;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.navbar {
  position: absolute;
  border-radius: 0px;
}
.nav > li > a:hover {
  background-color: transparent;
}
.nav > li > a:focus {
  background-color: transparent;
}

.navbar.pull-right {
    float: right;
    margin-right: 98px;
  }

.business-header {
    height: 50vh;
    min-height: 200px;
    padding-top: 30px;
    background: url('../images/banner.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card {
    height: 100%;
    background-color: White;
}

.card:hover {
  background-color: #E6E7EC;
}

.landing {
    border: 0px;
    text-align: center;
    background-color: transparent;
}


.landing card-footer {
    display: none;
}

.landing h2 {
  text-align: center;
}

#logo {
  width: 150px !important;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 45px;
}


#bio {
  width: 150px !important;
  display: inline-block;
  padding-bottom: 100px;
  padding-top: 33px;
  border-radius: 50%;
  padding-bottom: 5px;
  padding-top: 5px;
}


.quote {
  margin-top: 15px;
  background-color: #A2A2A8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

.quoteButton {
  background-color: #BDBEC4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


blockquote {
  margin: 0;
}

#contactButton {
  margin-top: 60px;
}

#card1 {
  border: 0.5px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: left;
}

#card2 {
  border: 0.5px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: left;
}

#card3 {
  border: 0.5px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: left;
}

#card4 {
  border: 0.5px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: left;
}

#card6 {
  padding: 30px;
}

#card7 {
  border: 5px solid #FFF;
  border-radius: 15px;
  line-height: 1.5em;
  font-size: 1em;
  text-align: left;
  padding: 20px;
}
#card7 li {
  list-style: none;
}

#card7 img {
    height: 100px !important;
    border-radius: 15px;
    margin-left: 80px;
}

#card7 h4 {
  text-align: center;
}

#accordion {
    padding-bottom: 200px;
    padding-top: 50px;
}
#accordion a:hover {
    text-decoration: none;
}
#title {
    text-align: center;
    color: white;
    margin-top: -90px;
}


footer img {
  height: 50px !important;
}

#footertext {
  text-align: right;
} 

#icons {
  padding-top: 10px;
  padding-bottom: 10px;
}

