     <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">


      <div class="row">
            <div class="col-md-3">
              <center>
                <a href="http://www.counselling-directory.org.uk/" target="_blank"><img src="/images/counsellingDirectory.png" height="77px" alt="Counselling Directory"></a>
              </center>
            </div>
            <div class="col-md-3">
              <center>
                <a href="https://drive.google.com/file/d/0B87Lzbde2BEJZUZLcXRoSk5HaVU/view?usp=sharing/" target="_blank"><img src="/images/logo2.PNG" height="77px target="_blank" alt="BACP"></a>
              </center>
            </div>
            <div class="col-md-3">
              <center>
                <a href="https://www.linkedin.com/in/elsa-artur-0694a399/" target="_blank"><img src="/images/linkedin_606x606.png" target="_blank" height="77px alt="LinkdIn"></a>
              </center>
            </div>
            <div class="col-md-3" id="footertext">
              <center>
                <a href="tel:07766671971">Tel: 07766671971 </a><br>
               <a href="mailto:elsaartur@live.co.uk"> Email: elsaartur@live.co.uk</a>
              </center>
            </div>
      </div>

    </div>
    <!-- /.container -->
  </footer>