<!-- Page content -->

  <div class="container">
	<div class="row landing">
        <div class="col-sm-4 my-4 landing animated slideInUp">
          <div class="card landing">
           <h2> <img class="card-img-top landing" id="logo" src="./images/logoPartTransparent.png" alt=""></h2>
            <div class="card-body landing">

            </div>
            <div class="card-footer landing">

            </div>
          </div>
        </div>


        <div class="col-sm-4 my-4 landing animated slideInUp">
          <div class="card landing">
            <div class="card-body landing">
              <h1 class="card-title landing">Contact info</h1>
          <address>
            <strong>Unit 9</strong>
            <br>Park Place. 
            <br>North Road, Poole, Dorset.
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            <a href="tel:07766671971">07766671971</a>
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:ElsaArtur@live.co.uk">ElsaArtur@live.co.uk</a>
          </address>
            </div>
            <div class="card-footer landing">
            </div>
          </div>
        </div>



        <div class="col-sm-4 my-4 landing animated slideInUp">
          <div class="card landing">
            <h2><img class="card-img-top landing" id="bio" src="./images/bio-pic.jpg" alt=""></h2>
            <div class="card-body landing">

            </div>
            <div class="card-footer landing">

            </div>
          </div>
        </div>
    </div>


      <!-- Page content -->

    <div class="row">
        <div class="col-sm-3 my-3 animated slideInUp">
          <div class="card">
           <!-- <img class="card-img-top" src="./img/people.jpg" width="250px" alt="">-->
            <div class="card-body">
              <h4 class="card-title">My Counselling Approach</h4>
              <p class="card-text">I have been trained as a Integrative Humanistic Counsellor. <br>
					I follow Roger’s principle that you know best and will know how to move forward, therefore my role as a counsellor is to enable you to find resources within yourself to make the move.</p>
            </div>
            <div class="card-footer">
              <a href="aboutxt/#ca" class="btn btn-primary">Find Out More!</a>
            </div>
            
		  </div>
		</div>

        <div class="col-sm-3 my-3 animated slideInUp">
          <div class="card">
            <!--<img class="card-img-top" src="./img/zen.jpg" width="250px" alt="">-->
            <div class="card-body">
              <h4 class="card-title">Specialised in dealing with:</h4>
              <p class="card-text"><ul>
						<li>Anxiety</li>
						<li>Relationship Issues</li>
						<li>Addictions: drugs, alcohol, gambling, sex, shopping, money, pornography, etc.</li>
						<li>Clinical group facilitator</li>
						</ul>
				        </p>
            </div>
            <div class="card-footer">
              <a href="aboutxt/#ds" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>
        <div class="col-sm-3 my-3 animated slideInUp">
          <div class="card">
           <!-- <img class="card-img-top" src="./img/relationships.jpg" width="250px" alt="">-->
            <div class="card-body">
              <h4 class="card-title">Experienced Also With Mental Health:</h4>
              <p class="card-text"><ul>
						<li>Impulse Control Disorders</li>
						<li>Mood Disorders</li>
						<li>Personality Disorders</li>
					</ul>
						<span><h2>Client focus</h2></span>
						<span><h3>Age</h3></span>
					<ul>
						<li>18+</li>
					</ul>
						</p>
            </div>
            <div class="card-footer">
              <a href="aboutxt/#mh" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>


        <div class="col-sm-3 my-3 animated slideInUp">
          <div class="card">
            <!--<img class="card-img-top" src="./img/relationships.jpg" width="250px" alt="">-->
            <div class="card-body">
              <h4 class="card-title">Years in Practice: 13+ Years</h4>
              <p class="card-text"><ul>
					<li>Advanced clinical skills, training for addiction Relapse Prevention counselling- the cenaps corporation 2011</li>
					<li>Certificate in thinking beyond the individual working with families and significant others 2011-2012</li>
					<li>Level 6 Diploma in therapeutic counselling supervision (CPCAB) 2009-2010</li>
				</ul>
			</p>
            </div>
            <div class="card-footer">
              <a href="aboutxt/#tq" class="btn btn-primary">Find Out More!</a>
            </div>

		  </div>
		</div>


  </div>
      <!-- /.row -->
</div>
    <!-- /.container -->
