   <!-- Page Content -->
<div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">About Me
        <small>& qualifications!</small>
      </h1>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="/about"><img class="card-img-top" id="ca" src="./images/zen2.jpg" alt="zen"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/about">My Counselling Approach</a>
              </h4>
              <p class="card-text">I have been trained as a Integrative Humanistic Counsellor. <br>
        I follow Roger’s principle that you know best and will know how to move forward, therefore my role as a counsellor is to enable you to find resources within yourself to make the move.<br> 
        I believe that the relationship between you and myself is very important in enabling this process to progress. Alongside this, I also integrate TA to provide more structure and promote movement, moreover, I also use the three distinct types of ego states in personalities to allow you to identify patterns of relating. If appropriate or if we feel is required for our therapeutic relationship, I also integrate some of Gestalt techniques.<br> 
        Gestalt focuses on completing unfinished business – I might bring these different approaches together in my practice work.<br> 
        I am also specialised in addiction counselling, where I integrate this skills in the therapeutic process.
            If you participate in therapy, changes may start occurring which will help you feel more empowered and less worried. You may notice that you are increasing your self-esteem your inner peace and you are laughing more. You may feel excited about your life. I hope to meet you.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="/about"><img class="card-img-top" src="./images/yoga-nas-alturas.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/about">Specialised in dealing with:</a>
              </h4>
              <p class="card-text"><ul>
        <li>Anxiety</li>
        <li>Relationship Issues</li>
        <li>Addictions: drugs, alcohol, gambling, sex, shopping, money, pornography, etc.</li>
        <li>Clinical group facilitator</li>
        </ul>
            <span><h2>Other issues might include:</h2></span>
        <ul>
        <li>Depression</li>
        <li>Divorce</li>
        <li>Eating Disorders</li>
        <li>Loss and Grief</li>
        <li>Parenting</li>
        <li>Self Esteem issues</li>
        <li>OCD</li>
        <li>Spirituality</li>
        <li>Trauma and PTSD</li>
        <li>Weight Loss</li>
        <li>Domestic violence</li>
        <li>Sexual abuse</li>
        <li>Difficulties in managing feelings</li>
        <li>Stress Management</li>
        <li>Work problems, Career counselling</li>
        <li>Mindfulness</li>
        <li>Medical or health related problems</li>
      </ul></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="/about"><img class="card-img-top" src="./images/mental-health.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/about">Experienced Also With Mental Health:</a>
              </h4>
              <p class="card-text"><ul>
                  <li>Impulse Control Disorders</li>
                  <li>Mood Disorders</li>
                  <li>Personality Disorders</li>
                </ul>
                  <span><h2>Client focus</h2></span>
                  <span><h3>Age</h3></span>
                <ul>
                  <li>18+</li>
                </ul>
                  <span><h2>Treatment Orientation</h2></span>
                <ul>
                  <li>Eclectic</li>
                  <li>Integrative approach</li>
                  <li>Life coaching</li>
                  <li>Compassionate</li>
                  <li>EFT - Emotional freedom techniques</li>
                  <li>NLP and Hipnotherapy practicioner</li>
                </ul>
                  <span><h2>Modality</h2></span>
                <ul>
                  <li>Individuals</li>
                  <li>Couples</li>
                  <li>Group</li>
                </ul></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="/about"><img class="card-img-top" id="tq" src="./images/the-adventure-begins.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/about">Years in Practice: 13+ Years</a>
              </h4>
              <p class="card-text"><span><h2>Training & Qualifications.</h2></span><br>
                  <ul>
                    <li>Advanced clinical skills, training for addiction Relapse Prevention counselling- the cenaps corporation 2011</li>
                    <li>Certificate in thinking beyond the individual working with families and significant others 2011-2012</li>
                    <li>Level 6 Diploma in therapeutic counselling supervision (CPCAB) 2009-2010</li>
                    <li>Certificate in Personality disorders- UKESAD London 2010</li>
                    <li>Stage 2, EFT Emotional Freedom Technique  2008-2009</li>
                    <li>Certificate understanding and treating Self- injury and Self-mutilation behaviour- 2007</li>
                    <li>Ericksonian Hypnotherapy Diploma, October 2004 to 31/07/2005 – Eos Seminars Ltd</li>
                    <li>Certified NLP Practitioner completed on 31 July 2005 October 2004 to 31/07/2005 – Eos Seminars Lda</li>
                    <li>NVQ 3 in Health and Social Care (adults) completed on September 2006 Bournemouth & Poole College</li>
                    <li>Mind-Altering Substances, 23/1/05/ to 31/07/06 Bournemouth University</li>
                    <li>Advanced Diploma in Therapeutic Counselling, September 2000 to July 2003 Bournemouth & Poole College.</li>
                    <li>Certificate of Achievement 5 years training in the following of practice:</li>
                    <ul><li>The Theory and Practice of group therapy</li>
                    <li>The Theory and Practice of Addiction Treatment Issues</li>
                    <li>Case Management in Residential Care and Related Care Standards</li>
                    </ul>
                  </ul></p>
            </div>
          </div>
        </div>

  </div>
      <!-- /.row -->

</div>
    <!-- /.container -->