    <!-- Modal -->

    <div class="modal fade" id="mailSent" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="ModalLongTitle">Your message has been sent!</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>We will get back to you asap. Many thanks!</p>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location='https://elsaartur.com/'">Close</button>
                  </div>
                </div>
              </div>
            </div>

    <!-- Page content -->

  <div class="row">
    <div class="card" id="card7">
        <div class="col-xs-12 col-sm-auto col-lg-auto">
                <h4>Send me a message, let me know how you're feeling.</h4>
                  <ul class="animated slideInUp">
                    <li></li>
                      <img class="grow" src="./images/depressed.jpg">
                  </ul>

                  <ul class="animated slideInUp">
                    <li></li>
                      <img class="grow" src="./images/sad.jpg">
                  </ul>

                  <ul class="animated slideInUp">
                    <li></li>
                    <img class="grow" src="./images/unsure.jpg">
                  </ul>
            </div>
        </div>


        <div class="col-xs-12 col-md-6 col-xl-8 animated slideInUp">
          <div class="card" id="card6">
   
			    







    <iframe
      id="JotFormIFrame-90893498982379"
      title="Contact Form"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allowfullscreen="true"
      allow="geolocation; microphone; camera"
      src="https://form.jotformeu.com/90893498982379"
      frameborder="0"
      style="
      min-width: 100%;
      height:539px;
      border:none;"
      scrolling="no"
    >
    </iframe>
    <script type="text/javascript">
      var ifr = document.getElementById("JotFormIFrame-90893498982379");
      if(window.location.href && window.location.href.indexOf("?") > -1) {
        var get = window.location.href.substr(window.location.href.indexOf("?") + 1);
        if(ifr && get.length > 0) {
          var src = ifr.src;
          src = src.indexOf("?") > -1 ? src + "&" + get : src  + "?" + get;
          ifr.src = src;
        }
      }
      window.handleIFrameMessage = function(e) {
        if (typeof e.data === 'object') { return; }
        var args = e.data.split(":");
        if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
        if (!iframe) { return; }
        switch (args[0]) {
          case "scrollIntoView":
            iframe.scrollIntoView();
            break;
          case "setHeight":
            iframe.style.height = args[1] + "px";
            break;
          case "collapseErrorPage":
            if (iframe.clientHeight > window.innerHeight) {
              iframe.style.height = window.innerHeight + "px";
            }
            break;
          case "reloadPage":
            window.location.reload();
            break;
          case "loadScript":
            var src = args[1];
            if (args.length > 3) {
                src = args[1] + ':' + args[2];
            }
            var script = document.createElement('script');
            script.src = src;
            script.type = 'text/javascript';
            document.body.appendChild(script);
            break;
          case "exitFullscreen":
            if      (window.document.exitFullscreen)        window.document.exitFullscreen();
            else if (window.document.mozCancelFullScreen)   window.document.mozCancelFullScreen();
            else if (window.document.mozCancelFullscreen)   window.document.mozCancelFullScreen();
            else if (window.document.webkitExitFullscreen)  window.document.webkitExitFullscreen();
            else if (window.document.msExitFullscreen)      window.document.msExitFullscreen();
            break;
        }
        var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
        if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
          var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)};
          iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*");
        }
      };
      if (window.addEventListener) {
        window.addEventListener("message", handleIFrameMessage, false);
      } else if (window.attachEvent) {
        window.attachEvent("onmessage", handleIFrameMessage);
      }
      </script>


          </div>
        </div>
      </div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.8557063077237!2d-1.9038330844197326!3d50.72261607559767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4873a1a3decbcd7f%3A0x8532f87efc44f492!2s53+Poole+Rd%2C+Bournemouth+BH4+9BA!5e0!3m2!1sen!2suk!4v1534024709971" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
