<div id="title" class="col-sm-12">
   <h1  class="animated pulse">Frequently Asked Questions!</h1>
</div>


<!-- Page content -->
<div class="container">
    <div ng-controller="AccordionController" id="accordion">
    
            <ang-accordion one-at-a-time="true">
                <collapsible-item item-title="Why Counselling, are people who go to therapy weak or crazy?">
                    <div>
                        <p>No, they are not! Everyone needs help at some point in their life. You have the strength that you’ve used before, that for whatever reason isn’t working right now. Maybe this difficulty feels overwhelming and is making it hard to access your previous strengths. In our work together, I’ll help you identify what those strengths are and how to implement them again in what is happening now.</p>
                    </div>

                </collapsible-item>

                <collapsible-item item-title="What’s the difference between talking to you or my best friend or family?">
                    <div>
                        <p>The difference is someone who has the training and experience to do that same thing professionally can help you approach your situation in a new way– teach you new skills, gain different perspectives, listen to you without judgment or expectations, and help you listen to yourself. Additionally, therapy is completely confidential. You won’t have to hear about others “knowing my business. “In therapy, you are in a safe environment.</p>
                    </div>
                </collapsible-item>


                 <collapsible-item item-title="How does it work? What do I have to do in sessions?">
                    <div>
                        <p>Because each person has different issues and goals for therapy, therapy will be different depending on the individual. I tailor my therapeutic approach to your specific needs.</p>
                    </div>
                </collapsible-item>

                 <collapsible-item item-title="How long will it take?">
                    <div>
                        <p>This is not possible to say in a general. Everyone’s circumstances are unique to them and the length of time therapy can take to allow you to accomplish your goals depends on your desire for personal development, your commitment, and the factors that are driving you to seek therapy in the first place.</p>
                    </div>
                </collapsible-item>

                 <collapsible-item item-title="I want to get the most out of therapy. What can I do to help?">
                    <div>
                        <p>We only see each other for a session a week. It’s the work you do outside of our sessions that will really help you see your personal growth and development.</p>
                    </div>
                </collapsible-item>

                 <collapsible-item item-title="My partner and I are having problems. Should we be in individual counselling or come together?">
                    <div>
                        <p>If you are concerned about your relationship, and you would both like to work with me, I would initially work with both of you together. After this work, if one of you would like to continue in individual sessions, I could work with only one of you. It is not helpful to move from the individual into couple’s work with the same therapist because of potential trust issues.</p>
                    </div>
                </collapsible-item>

            </ang-accordion>
         
    </div>
</div>