   <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Welcome!
        <small>To my private practice website.</small>
      </h1>

      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="front-end/home"><img class="card-img-top" id="ww" src="./images/vistaCambrils2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="front-end/home">Welcome!</a>
              </h4>
              <p class="card-text">I am an accredited clinical counsellor specializing in addictions. I provide individual, couples, and family therapy to those in Bournemouth area and via Skype or telephone if, in different areas or countries, I offer therapy in Portuguese and English.</p>
            </div>
          </div>
        </div>

                <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="front-end/home"><img class="card-img-top" id="cs" src="./images/zen-stones.jpg" alt="zen"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="front-end/home">Counselling & Supervision</a>
              </h4>
              <p class="card-text"><span>As an experienced Counsellor, I offer professional supervision to Counsellors, Psychotherapists and Trainees since 2009.</span>
            <span>As a supervisor I also believe that you know best and together we can work for the best interest of your client work, so we both know that you and your client are safe. You will feel supported, your theoretical approach respected and you can express yourself without judgement and grow. Together we will explore issues with reflective consideration using Inskipp & Proctor’s Normative, Formative, Restorative Supervision Model and that our supervision arrangements follows the guidelines of the BACP ethical framework.</span>
            <span>We can work together to find the best available times working in some evenings Saturdays or by phone or Skype.</span>
            <span>I am looking forward to hear from you.</span></p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="front-end/home"><img class="card-img-top" id="up" src="./images/people.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="front-end/home">People</a>
              </h4>
              <p class="card-text">Every person is unique, valuable and special even though this may be difficult to believe due to low self-esteem, fear, anxiety or any other painful reason. You may be so affected with worries about your health, money, relationships or a life difficulty, that seems a far dream to feel happy. There are days that may feel so dark and painful that hope is just a faraway word with no meaning or sense. You don't have to feel this way anymore. Therapy can be the solution!</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="front-end/home"><img class="card-img-top" id="br" src="./images/relationships.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="front-end/home">Building relashionships</a>
              </h4>
              <p class="card-text">Building strong relationships with my clients and helping them to make meaningful changes in their lives is the basis of my work. Please feel free to contact me at 07766671971 to learn more or to schedule an appointment.</p>
            </div>
          </div>
        </div>

      <!-- /.row -->

    </div>
    <!-- /.container -->