    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8 animated slideInUp">
          <h2 class="mt-4">Welcome!</h2>
          <p>Welcome to my private practice website, I am an accredited clinical counsellor specializing in addictions. I provide individual, couples, and family therapy to those in Bournemouth area and via Skype or telephone if, in different areas or countries, I offer therapy in Portuguese and English.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="contact">Contact Me &raquo;</a>
          </p>
        </div>
        <div class="col-sm-4 animated slideInUp">
          <h2 class="mt-4">Contact Me</h2>
          <address>
            <strong>Unit 9</strong>
            <br>Park Place. 
            <br>North Road, Poole, Dorset.
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            <a href="tel:07766671971">07766671971</a>
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:ElsaArtur@live.co.uk">ElsaArtur@live.co.uk</a>
          </address>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-4 my-4 animated slideInUp">
          <div class="card">
            <img class="card-img-top" src="./images/people.jpg" width="250px" alt="">
            <div class="card-body">
              <h4 class="card-title">People</h4>
              <p class="card-text">Every person is unique, valuable and special even though this may be difficult to believe due to low self-esteem, fear, anxiety or any other painful reason. </p>
            </div>
            <div class="card-footer">
              <a href="#" data-toggle="modal" data-target="#people" class="btn btn-primary">Find Out More!</a>
            </div>


              <div class="modal fade" id="people" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="ModalLongTitle">People</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>You may be so affected with worries about your health, money, relationships or a life difficulty, that seems a far dream to feel happy. There are days that may feel so dark and painful that hope is just a faraway word with no meaning or sense. You don't have to feel this way anymore. Therapy can be the solution!</p>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-sm-4 my-4 animated slideInUp">
          <div class="card">
            <img class="card-img-top" src="./images/zen.jpg" width="250px" alt="">
            <div class="card-body">
              <h4 class="card-title">Counselling supervision</h4>
              <p class="card-text">As an experienced Counsellor, I offer professional supervision to Counsellors, Psychotherapists and Trainees since 2009.</span>
            <span>As a supervisor I also believe that you know best and together we can work for the best interest of your client work, so we both know that you and your client are safe. </p>
            </div>
            <div class="card-footer">
              <a href="#" data-toggle="modal" data-target="#supervision" class="btn btn-primary">Find Out More!</a>
            </div>


              <div class="modal fade" id="supervision" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="ModalLongTitle">Counselling supervision</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>You will feel supported, your theoretical approach respected and you can express yourself without judgement and grow. Together we will explore issues with reflective consideration using Inskipp & Proctor’s Normative, Formative, Restorative Supervision Model and that our supervision arrangements follows the guidelines of the BACP ethical framework.</span>
            <span>We can work together to find the best available times working in some evenings Saturdays or by phone or Skype.</span>
            <span>I am looking forward to hear from you.</p>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-sm-4 my-4 animated slideInUp">
          <div class="card">
            <img class="card-img-top" src="./images/relationships.jpg" width="250px" alt="">
            <div class="card-body">
              <h4 class="card-title">Building relationships</h4>
              <p class="card-text">Building strong relationships with my clients and helping them to make meaningful changes in their lives is the basis of my work.</p>
            </div>
            <div class="card-footer">
              <a href="#" data-toggle="modal" data-target="#relationships" class="btn btn-primary">Find Out More!</a>
            </div>


              <div class="modal fade" id="relationships" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="ModalLongTitle">Building relationships</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>Please feel free to contact me on 07766671971 to learn more or to schedule an appointment.</p>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->