
    <!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-sm-8 animated slideInUp">
          <h2 class="mt-4">Welcome!</h2>
          <p>Welcome to my private practice website, I am an accredited clinical counsellor specializing in addictions. I provide individual, couples, and family therapy to those in Bournemouth area and via Skype or telephone if, in different areas or countries, I offer therapy in Portuguese and English.</p>
          <p>
            <a class="btn btn-primary btn-lg" id="contactButton" href="contact">Contact Me &raquo;</a>
          </p>
        </div>

<!-- Quatation box -->


        <div class="col-sm-4 my-4 animated slideInUp quote-box">
          <div class="quote">
            <blockquote id="myQuoteBox">
              "The main objective of psychological therapy is not to transport the patient to an impossible state of happiness, but rather to help him acquire firmness and patience in the face of suffering. Life happens in a balance between joy and pain."<br>
              - Carl Joung
            </blockquote>
          </div>
              <div class="quoteButton">
                <button class="btn btn-default" onclick="quote_name()">New Quote</button>
              </div>
        </div>

      <!-- /.row -->

   <div class="row">
        <div class="col-sm-4 my-4 animated slideInUp">
          <div class="card">
            <img class="card-img-top" src="./images/people.jpg" width="250px" alt="">
            <div class="card-body">
              <h4 class="card-title">People</h4>
              <p class="card-text">Every person is unique, valuable and special even though this may be difficult to believe due to low self-esteem, fear, anxiety or any other painful reason. </p>
            </div>
            <div class="card-footer">
              <a href="homext#up" tagret="_parent" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>
        <div class="col-sm-4 my-4 animated slideInUp">
          <div class="card">
            <img class="card-img-top" src="./images/zen.jpg" width="250px" alt="">
            <div class="card-body">
              <h4 class="card-title">Counselling supervision</h4>
              <p class="card-text">As an experienced Counsellor, I offer professional supervision to Counsellors, Psychotherapists and Trainees since 2009.</span>
            <span>As a supervisor I also believe that you know best and together we can work for the best interest of your client work, so we both know that you and your client are safe. </p>
            </div>
            <div class="card-footer">
              <a href="homext#cs" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>
        <div class="col-sm-4 my-4 animated slideInUp">
          <div class="card">
            <img class="card-img-top" src="./images/relationships.jpg" width="250px" alt="">
            <div class="card-body">
              <h4 class="card-title">Building relationships</h4>
              <p class="card-text">Building strong relationships with my clients and helping them to make meaningful changes in their lives is the basis of my work.</p>
            </div>
            <div class="card-footer">
              <a href="homext#br" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
